<div id="signupModal" class="modal">

    <form class="modal-content animate" id="registerForm">
        <div class="container-fluid mcontainer">
                <div class="row imgcontainer">
                    <span onclick="document.getElementById('signupModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="#" alt="" class="logo">
                </div>
            <div class="mcontainer" style="background-color:#f1f1f1">
                <div class="row">               
                    
                </div>
            </div>
        </div>
    </form>
</div>