<!-- Sidebar  -->
<nav id="sidebar">

    <div class="sidebar-header">
        <h4>Coming Soon!</h4>
    </div>

    <div id="dismiss">
        <i class="fas fa-times"></i>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#menu1" data-toggle="collapse" aria-expanded="false">Menu 1</a>
            <ul class="collapse list-unstyled" id="menu1">
                <li>
                    <a href="/#">Item 1</a>
                </li>
                <li>
                    <a href="/#">Item 2</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#menu2" data-toggle="collapse" aria-expanded="false">Menu 2</a>
            <ul class="collapse list-unstyled" id="menu2">
                <li>
                    <a href="/#">Item 1</a>
                </li>
                <li>
                    <a href="/#">Item 2</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#menu3" data-toggle="collapse" aria-expanded="false">Menu 3</a>
            <ul class="collapse list-unstyled" id="menu3">
                <li>
                    <a href="/#">Item 1</a>
                </li>
                <li>
                    <a href="/#">Item 2</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- End of Sidebar -->